@charset "utf-8";

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/inconsolata-regular.ttf) format(truetype);
}

@import "normalize";
@import "solarized";

.light, .dark {
  a, a:visited {
    color: $blue;
  }
  a:hover {
    color: $cyan
  }
}
.dark {
  h1, h2, h3, h4, h5 {
    color: $orange;
  }
}
.light {
  background: white;
}

body {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4em;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
code {
  font-family: "Inconsolata", monospace;
}

.container {
  margin: 0 auto;
  max-width: calc(640px + 4em);
  padding: 1em;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1em;
}
h1 {
  text-align: center;
}

pre {
  line-height: 1em;
  overflow: auto;
  padding: 1em;
  border-radius: 5px;
}

code {
  font-family: "Inconsolata", monospace;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}

li li {
  padding-left: 1em;
}

footer {
  text-align: center;
  padding: 1em;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

body.index,
body.index .container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
