@charset "utf-8";

@import "normalize";
@import "solarized";

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata Regular"), local("Inconsolata-Regular"),
       url("../fonts/inconsolata-regular.woff2") format("woff2"),
       url("../fonts/inconsolata-regular.woff") format("woff"),
       url("../fonts/inconsolata-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src: local("Inconsolata Bold"), local("Inconsolata-Bold"),
       url("../fonts/inconsolata-bold.woff2") format("woff2"),
       url("../fonts/inconsolata-bold.woff") format("woff"),
       url("../fonts/inconsolata-bold.ttf") format("truetype");
}

.light, .dark {
  a, a:visited {
    color: $blue;
    text-decoration: none;
    border-bottom: solid 2px rgba($blue, 0.2);
    transition: 0.1s ease;
  }
  a:hover, a:active {
    color: $cyan;
    border-bottom: solid 2px rgba($cyan, 0.2);
  }
  a.no-border {
    border: none;
  }
}
.dark {
  h1, h2, h3, h4, h5 {
    color: $orange;
  }
}
.light {
  background-color: white;
  pre {
    background-color: rgba($base2, 0.5);
  }
}

body, code, button {
  font-family: "Inconsolata", monospace;
}

body {
  font-weight: normal;
  line-height: 1.4em;
  min-height: 100vh;
  font-size: 20px;
}

pre code {
  font-size: 0.9em;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: calc(640px + 4em);
  padding: 1em;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body {
    font-size: 18px;
  }
  footer {
    span {
      display: block;
    }
    span.sep {
      display: none;
    }
  }
}

h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

iframe {
  margin: 0.5em 0;
}

h1 {
  text-align: center;
}

pre {
  line-height: 1em;
  overflow: auto;
  padding: 1em;
  border-radius: 5px;
}

ul {
  padding-left: 0;
  margin-left: 1em;
}

/*
li li {
  padding-left: 1em;
}
*/

footer {
  text-align: center;
  padding: 1em;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

body.index,
body.index .container,
body.index .container article {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
body.index .container,
body.index .container article {
  flex-direction: row;
  h1 {
    font-size: 10em;
    margin: 0 0 8px;
  }
  ul {
    margin-left: 2em;
  }
}
@media (max-width: 600px) {
  body.index .container {
    h1 {
      width: 0.5em;
      overflow: hidden;
      line-height: 1em;
    }
  }
}

hr {
  border: none;
  height: 1px;
  width: 25%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0 0.25em;
}

th {
  text-align: left;
}

.dark {
  hr {
    background: rgba(255, 255, 255, 0.2);
  }

  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  td {
    border-top: solid 1px rgba(255, 255, 255, 0.2);
  }
}

.light {
  hr {
    background: rgba(0, 0, 0, 0.2);
  }

  tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  td {
    border-top: solid 1px rgba(0, 0, 0, 0.2);
  }
}

button {
  cursor: pointer;
}
