<footer>
  <span>Made with &hearts; in 2012-2019</span>
  <span class="sep">|</span>
  <span>Switch to <button id="switch-theme" type="button" class="btn">dark</button> theme</span>
</footer>

<script>
  // Switch theme
  var theme = localStorage.getItem("theme") || "light";
  if (theme === "dark") {
    document.getElementById("switch-theme").innerHTML = "light";
    document.documentElement.classList.remove("light");
    document.documentElement.classList.add("dark");
  }
  document.getElementById("switch-theme").addEventListener("click", function() {
    document.getElementById("switch-theme").innerHTML = theme;
    document.documentElement.classList.remove(theme);
    theme = theme === "dark" ? "light" : "dark";
    document.documentElement.classList.add(theme);
    localStorage.setItem("theme", theme);
  });

  // Remove bottom border on image links
  var links = document.querySelectorAll("a > img");
  Array.prototype.forEach.call(links, function(img, i) {
    img.parentNode.classList.add("no-border");
  });
</script>
