---
title: Blog
pageable: true
per_page: 10
---

<h1>Blog</h1>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> (<%= article.date.strftime("%Y-%m-%d") %>)</li>
  <% end %>
</ul>

<%= partial "pagination" %>
